.item {
  border-bottom: 2px solid @dark-gray;
  .name {
    color: @main-gray;
  }
  .datetime {
    text-align: right;
    .date {
      color: @light-gray;
      .month-day {
        font-family: 'Oswald Bold';
      }
    }
    .time {
      font-family: 'Oswald Bold';
      font-weight: bolder;
      color: @dark-gray;
      margin-top: 2px;
    }
  }
  &.repeated {
    .datetime {
      .date {
        color: @light-blue;
      }
      .time {
        color: @medium-blue;
      }
    }
  }
}
.add-button {
  background-color: @medium-blue;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);
  &:hover {
    background-color: @dark-blue;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.5);
  }
}
